* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root {

    --ff-paragraph: 'Lora', sans-serif;
    --ff-titles: 'Cormorant', sans-serif;

    --fc-paragraph: #437AC1;
    --fc-hover: #FF8A00;
    --fc-info: #7B9ECB;

    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #f5f9fd;
    margin: 0 auto;
    width: 100%;
}

img {
    object-fit: cover;
}

.page {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "inicio"
        "main"
        "footer";
    height: 100vh;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.hide {
    display: none;
}

header {
    width: 100vh;
    display: flex;
    justify-content: flex-end;
    height: 4rem;

    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: 0;
}

header nav {
    z-index: 0;
    position: fixed;
    width: 0px;
    height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8rem;
    gap: 10%;

}

header div {
    color: #000;


}

header a {
    font-family: var(--ff-paragraph);
    font-weight: 800;
    font-size: 3rem;
    text-decoration: none;
    color: var(--fc-paragraph);

    transition: all 0.3s;

}

header div button {
    border: 0;
    background: none;
    z-index: 3;
    cursor: pointer;
}

.hideMenu {
    width: 0px;
    transition: all 0.3s;
}

.showMenu {
    width: 100%;
    /* background-color: #f5f9fdde; */
    background-image: linear-gradient(#f5f9fdde, #f5f9fd95);
    top: 0;
    right: 0;
    transition: all 0.3s;
}

header img {
    display: none;
}

.menu_mobile {
    z-index: 2;
}

.menu_mobile img {
    display: inherit;

}

main {
    width: 100%;
}


#desktop_image {
    display: none;
}

#mobile_image div img {
    background-image: url(./assets/smLash_mobile.svg);
    background-repeat: no-repeat;
    display: inherit;
}

#inicio {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    padding: 0;
    margin: 0;
}

#inicio #home_background {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
    object-fit: cover;
    height: 100%;
    opacity: 45%;
    width: 100%;
}

#inicio div {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25%;
    padding: 20%;
    
}

#inicio div h1 {
    font-family: var(--ff-titles);
    font-weight: 700;
    font-size: 4.5rem;
    text-align: right;
    margin-top: 8rem;
    margin-right: 3rem;
    color: #7092BF;
    text-shadow: 0.55px 0.55px 1px #000000;
}


#alongamento {
    /* display: none; */
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    align-self: center;
}

#alongamento #extension_background {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
    object-fit: cover;
    height: 100%;
    opacity: 45%;
    width: 100%;
}

#alongamento p {
    padding-left: 20px;
    padding-top: 4.5rem;
    width: 55rem;
    font-family: var(--ff-paragraph);
    font-size: 3.2rem;
    color: var(--fc-paragraph);
    text-shadow: 0.5px 0.5px 1px #000;
}

#tecnicas {
    /* display: none; */
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#tecnicas article {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 50%;
    margin: 0;
    padding: 0;
    align-items: center;
}

#tecnicas img {
    object-fit: cover;
    width: 100%;
}

#tecnicas article p {
    font-size: 2rem;
    font-family: var(--ff-paragraph);
    padding: 20px 0;
    width: 90%;
    color: var(--fc-paragraph);
}

#tecnicas article:nth-child(1) img {
    padding-left: 20px;
    padding-right: 0;
    margin: 0;
}

#tecnicas article:nth-child(2) img {
    order: 3;
    padding-right: 20px;
    padding-left: 0;
    margin: 0;
}

#tecnicas article:nth-child(2) p {
    order: 2;
}

#tecnicas span {
    font-weight: 500;
}

#contato {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#contato h1{
    font-family: var(--ff-titles);
    font-weight: 700;
    font-size: 40px;
    padding: 2rem 0;
    color: var(--fc-paragraph);
}

#contato div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}    

#contato div a{
    display: flex;
    font-family: var(--ff-paragraph);
    font-weight: 500;
    font-size: 3.6rem;
    color: var(--fc-info);
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    padding-bottom: 12px;

    text-shadow: 0.5px 0.5px 0.5px #00000038;
    cursor: pointer;
}

#contato div p img{
    width: 6.4rem;
    height: 6.4rem;
}

#contato #info_background {
    position: absolute;
    right:  0;
    bottom: -10rem;
    mix-blend-mode: darken;
    object-fit: cover;
    object-position: top;
    width: clamp(80rem, 65rem + 30vw, 128rem);
    opacity: 45%;
    height: calc(100% + 30rem);
    mix-blend-mode: darken;
    z-index: -1;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

footer div {
    border-top: 1px solid #7B9ECB;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.35rem;
    color: #7B9ECB;
}

footer div p, footer div a {
    text-decoration: none;
    font-family: var(--ff-paragraph);
    font-size: 1.2rem;
    font-weight: 500;
    color: #7B9ECB;
    filter: brightness(0.8);
}



@media (min-width: 760px) {
    * {
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }

    img {
        object-fit: none;
    }

    .page {
        width: clamp(80rem, 65rem + 30vw, 128rem);
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "inicio"
            "main"
            "footer";
        height: 100vh;
        justify-content: center;
    }

    header {
        grid-area: inicio;
        position: fixed;
        margin: 0 auto;
        display: flex;
        height: 8rem;

        align-items: center;
        justify-content: space-between;

        width: inherit;

        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        box-shadow: 0px 6px 6px -6px rgba(175, 175, 175, 0.65);

        padding: 0 12px;
        z-index: 1;
    }

    header .menu_mobile {
        display: none;
    }

    header img {
        height: 5.6rem;
        display: inherit;
    }

    .showMenu {
        background-color: transparent;
        background-image: none;
    }

    .hideMenu {
        width: inherit;
        transition: all 0.3s;
    }

    header nav {
        display: flex;
        gap: clamp(1rem, 0.5rem + 1vw, 6rem);
        height: 100%;
        flex-direction: row;
        position: relative;
        padding: 0;
        justify-content: flex-end;
        background-color: none;

        background: transparent;
        background-image: none;
    }

    header a {
        font-family: var(--ff-paragraph);
        font-weight: 800;
        font-size: 2rem;
        text-decoration: none;
        color: var(--fc-paragraph);

        transition: all 0.3s;
    }

    header a:hover {
        color: var(--fc-hover);
    }

    main {
        display: flex;
        flex-direction: column;
        grid-area: main;
        margin: 9.2rem 0 0;
        width: inherit;

    }

    #inicio {
        height: 76.8rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    #inicio div {
        width: 70rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 10%;
        align-items: center;
    }

    #mobile_image {
        display: none;
    }

    #desktop_image {
        display: inherit;
        width: fit-content;
        opacity: 100%;
        height: inherit;
    }

    #inicio #home_background {
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: darken;
        object-fit: cover;
        height: 100%;
        opacity: 45%;
    }


    #inicio div h1 {
        font-family: var(--ff-titles);
        font-weight: 700;
        font-size: 6rem;
        text-align: right;
        margin-top: 3rem;
        /* margin-right: 5.5rem; */
        color: #7092BF;
        text-shadow: 0.55px 0.55px 1px #000000;
    }



    #alongamento {

        height: 76.8rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    #alongamento p {
        padding-left: 20px;
        width: 55rem;
        font-family: var(--ff-paragraph);
        font-size: 3.6rem;
        color: var(--fc-paragraph);
        text-shadow: 0.5px 0.5px 1px #000;
        opacity: 100%;
    }

    #alongamento #extension_background {
        position: absolute;
        bottom: 0;
        right: 0;
        mix-blend-mode: darken;
        fill: cover;
        height: 100%;
        opacity: 65%;
    }


    #tecnicas {
        height: 76.8rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    #tecnicas article {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 50%;
        margin: 0;
        padding: 0;
        align-items: center;
        gap: 1.5rem;
    }
    
    #tecnicas img {
        object-fit: cover;
        width: 50%;
    }
    
    #tecnicas article p {
        font-size: 3.2rem;
        font-family: var(--ff-paragraph);
        padding: 20px 0;
        width: 90%;
        color: var(--fc-paragraph);
    }
    
    #tecnicas article:nth-child(1) img {
        padding-left: 20px;
        padding-right: 0;
        margin: 0;
    }
    
    #tecnicas article:nth-child(2) img {
        order: 2;
        padding-right: 20px;
        padding-left: 0;
        margin: 0;
    }
    
    #tecnicas article:nth-child(2) p {
        order: 3;
    }

    #contato {
        height: 76.8rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: start;
    }

    #contato h1{
        font-family: var(--ff-titles);
        font-weight: 700;
        font-size: 40px;
        padding: 2rem 0;
        color: var(--fc-paragraph);
    }

    #contato div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }    
    
    #contato div a{
        display: flex;
        font-family: var(--ff-paragraph);
        font-weight: 500;
        font-size: 3.6rem;
        color: var(--fc-info);
        align-items: center;
        justify-content: center;
        gap: 2.4rem;

        padding-bottom: 12px;

        text-shadow: 0.5px 0.5px 0.5px #00000038;
        cursor: pointer;
    }

    #contato div p img{
        width: 6.4rem;
        height: 6.4rem;
    }

    #contato #info_background {
        position: absolute;
        right:  0;
        bottom: -10rem;
        mix-blend-mode: darken;
        object-fit: cover;
        object-position: top;
        width: clamp(80rem, 65rem + 30vw, 128rem);
        opacity: 45%;
        height: calc(100% + 30rem);
        mix-blend-mode: darken;
    }



    footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
    }

    footer div {
        border-top: 1px solid #7B9ECB;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1.35rem;
        color: #7B9ECB;
    }

    footer div p, footer div a {
        text-decoration: none;
        font-family: var(--ff-paragraph);
        font-size: 1.2rem;
        font-weight: 500;
        color: #7B9ECB;
        filter: brightness(0.8);
    }

}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(175, 173, 173, 0.2);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid rgba(175, 173, 173, 0.1);
    /* creates padding around scroll thumb */
}